<h1>{{title}}</h1>

<h3>----------------- Cloud Data (Firebase) -----------------</h3>

<ul>
  <li class="text" *ngFor="let hero of heroes | async" (click)="onSelectHero(hero)" [class.active]="selectedHero == hero">
    <span>ID: {{hero.id}} --- </span>
    
    <span *ngIf="selectedHero == hero">
      <mat-form-field>
        <input matInput #selectedHeroName placeholder="Name" [(ngModel)]="selectedHero.name" (input)="onChangeHeroName(selectedHeroName.value)">
      </mat-form-field>
      <button mat-raised-button (click)="updateHero(selectedHero)">Update</button>
      <button mat-raised-button color="warn" (click)="deleteHero(selectedHero)">Delete</button>
    </span>
    <span *ngIf="selectedHero != hero">
      {{hero.name}}
    </span>
  </li>
</ul>

<br/> <br/>

<form>
  <mat-form-field>
    <input matInput #heroName placeholder="Hero Name">
  </mat-form-field>
  
  <button mat-raised-button color="primary" (click)="addHero(heroName.value); heroName.value=''">
    Add Hero
  </button>
</form>


<h3>----------------- Mock Data -----------------</h3>

<nav>
  <a routerLink="/dashboard"> Dashboard </a>
  <a routerLink="/heroes"> Heroes </a>
</nav>

<router-outlet></router-outlet>
<app-messages></app-messages>