<h1>{{title}}</h1>


<!-- <div *ngIf="selectedHero">
  <p>
    ------------ <strong>Selected Hero</strong> ------------
  </p>
  <p>Id: {{selectedHero.id}}</p>
  <p>Name: {{selectedHero.name}}</p>
  ------------------------
</div> -->
<ul>
  <li class="text" *ngFor="let hero of heroes | async" (click)="selectHero(hero)" [class.active]="selectedHero == hero">
    {{hero.id}} --- {{hero.name}}
  </li>
</ul>

<div>
  <label>Hero name:
    <input #heroName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  
  <button (click)="addHero(heroName.value); heroName.value=''">
    Add Hero
  </button>
  <button (click)="updateHero(selectedHero)">Update Hero</button>
  <button (click)="deleteHero(selectedHero)">Delete Hero</button>
</div>

------------

<nav>
  <a routerLink="/dashboard"> Dashboard </a>
  <a routerLink="/heroes"> Heroes </a>
</nav>

<router-outlet></router-outlet>
<app-messages></app-messages>